@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import 'variables.css';
@import 'animations.css';
@import 'base.css';
@import 'layout.css';
@import 'components.css';
@import 'gallery.css';
@import 'game.css';
@import 'responsive.css';